<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器状态</title>
    <script src="{{static_url('Js/echarts.js')}}"></script>
    <script src="{{static_url('Js/jquery_3.2.1.js')}}"></script>
    <script src="{{static_url('Js/external.js')}}"></script>
    <link rel="stylesheet" href="{{static_url('Css/basic.css')}}" type="text/css" />
    <script type="text/javascript">
        var cpuarr = new Array();
        var memarr = new Array();
        var interval =new Array();
        for(var i=0;i<60;i++)
        {
        interval.push(i);
        }
        $(document).ready(function(){

         setInterval("getCPUstate()", 1000);
         setInterval("getMemorystate()", 60000);
         var cpustatus = $("#cpustatus").html().trim();
         var memorystate = $("#memorystate").html().trim();
         InitCpuChart(cpustatus);
         InitMemoryChart(memorystate);
        });
    </script>

</head>
<body>
<h2>服务器CPU状态</h2>
<p>
    <label>CPU利用率为:</label>
    <text id="cpustatus">{{Cpu_Status}}</text>%
</p>
<p>
     <label>内存:</label>
    <text id="memorystate">{{Memory_state}}</text>%
</p>
<hr>
<div style=" height: 420px;width:100%;">
    <div id="cpu" class="dom">
    </div>
    <div id="memory" class="dom" style="margin-left:20px;">
    </div>
</div>
<hr>
</body>
</html>